In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.cluster import hierarchy
from tabulate import tabulate
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

df= pd.read_excel("D:\CIT\SEM 5\Human Resources System Developement Lab\EX 4.xlsx",sheet_name="Cost & Prod")
df.head(6)

<>:9: SyntaxWarning: invalid escape sequence '\C'
<>:9: SyntaxWarning: invalid escape sequence '\C'
C:\Users\DELL\AppData\Local\Temp\ipykernel_12248\1140894604.py:9: SyntaxWarning: invalid escape sequence '\C'
  df= pd.read_excel("D:\CIT\SEM 5\Human Resources System Developement Lab\EX 4.xlsx",sheet_name="Cost & Prod")

   Number of units produced  Hours  Compensation cost  Compensation score
0                      1223      9              29456                  56
1                      1247      8              28744                  36
2                      1945     12              43774                  85
3                      1553     11              27655                  41
4                      1838      8              60258                  40
5                      1409      9              75334                  37

In [2]:
cor = df.corr()
cor

,Number of units produced,Hours,Compensation cost,Compensation score
Number of units produced,1.000000,0.046329,0.233797,0.204151
Hours,0.046329,1.000000,-0.065351,0.078779
Compensation cost,0.233797,-0.065351,1.000000,0.056297
Compensation score,0.204151,0.078779,0.056297,1.000000

In [3]:

df.dtypes
df.isnull().sum()

Number of units produced    0
Hours                       0
Compensation cost           0
Compensation score          0
dtype: int64

In [4]:
hr = df['Hours'].values
cs = df['Compensation score'].values

kmeans = KMeans(n_clusters=3, n_init=10)

kmeans.fit(feat)

labels = kmeans.predict(feat)

df['Cluster'] = labels

plt.scatter(hr, cs, c=labels, cmap='rainbow')
plt.xlabel('Hours')
plt.ylabel('Compensation score')
plt.title('K-Means Clustering')
plt.show()

NameError: name 'feat' is not defined

In [ ]:
means = df.groupby('Number of units produced')['Hours'].mean()

print(means)

correlation = df['Hours'].corr(df['Compensation score'])

print(correlation)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(20, 8))
sns.heatmap(cor, annot=True, cmap='plasma', fmt=".2f", linewidths=.5)
plt.title("Correlation Heatmap")
plt.show()